<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>👾 Gestor De Proyectos - Gastos</title>

    <!-- STYLES -->
    <link rel="stylesheet" href="../assets/styles/global.css" />
    <link rel="stylesheet" href="../assets/styles/style.css" />
    <link rel="stylesheet" href="../assets/styles/proyectos.css" />
    <link rel="stylesheet" href="../assets/styles/new-proy.css" />

    <!-- FONTS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@500&display=swap">


</head>

<body>
    <!-- MENU -->
    <div class="menu" id="menu">
        <ul class="links">
            <li><a href="../index.html" id="inicio">
                    <i class="fas fa-home"></i>
                    Inicio</a></li>
            <li><a href="proyectos.html" id="proyectos" class="links--hide">
                    <i class="fas fa-briefcase"></i>
                    Proyectos</a></li>
            <!-- Mostrar a logeados-->
            <li><a href="#" id="gastos" class="links--hide">
                    <i class="fas fa-chart-pie"></i>
                    Gastos</a></li><!-- Mostrar a logeados-->
            <li><a href="404.html" class="links--hide">
                    <i class="fas fa-user"></i>
                    Perfil</a></li><!-- Mostrar a logeados-->

            <li><a class="login" href="404.html" id="abrir-login">
                    <i class="fas fa-sign-in-alt"></i>
                    Ingresar</a></li><!-- Mostrar NO logeado -->
            <!-- <div class="contenedor-modal-login" id="contenedor-modal-login">
                    <div class="modal-login">
                        <form action="#" method="get">
                            <h3>Inicie Sesion</h3>
                            <input type="email" id="emailLogin" placeholder="Email" class="contenedor_vacio">
                            <input type="password" id="passwordLogin" placeholder="Contraseña" class="contenedor_vacio">
                            <div>
                                <button type="button" id="btn_ingresar">Ingresar</button>
                            </div>
                        </form>
                        <p id="cerrar-login">x</p>
                    </div>
                </div> -->

            <!-- <li><a class="registrarse" href="#" id="abrir-register">Registrarse</a></li> -->

            <!-- Mostrar NO logeado -->
            <!-- <div class="contenedor-modal-register" id="contenedor-modal-register">
                    <div class="modal-register">
                        <form action="#" method="post">
                            <h3>Crear una cuenta</h3> 
                            <input type="text" placeholder="Nombre" id="nombre">
                            <input type="text" placeholder="Apellido" id="apellido">
                            <input type="text" placeholder="Telefono" id="telefono">
                            <input type="email" placeholder="Email" id="email">
                            <input type="number" placeholder="DNI" id="dni">
                            <input type="password" placeholder="Contraseña" id="password">
                            <div>
                                <button type="submit" id="btn_registrar" id="abrir-falla">Registrar</button>
                            </div>
                        </form>
                        <p id="cerrar-register">x</p>
                    </div> -->
            <li><a class="logout links--hide show--inline links--hide" href="404.html" id="logout">
                    <i class="fas fa-sign-in-alt"></i>
                    Cerrar Sesion</a></li>
            <!-- Mostrar a logeados-->
        </ul>
    </div>

    <div class="background-element"><!--content-body-->

        <!-- SECCION PORTADA -->
        <div class="portada">
            <div class="portada-title">Nuevo Proyecto</div>
            <p class="secondary-text">
                Carga los datos de tu nuevo proyecto.
            </p>
        </div>

        <!-- SECCION ULTIMO PROY -->
        <div class="all-proy">
            <div class="secondary-title">
                <h3>Nuevo Proyecto</h3>
            </div>
            <div class="all-box">
                <div class="box-n-proy">
                    <p class="box-title">
                        Datos del proyecto:
                    </p>

                    <table class="data-n-proy">
                        <tr>
                            <td class="col-n-proy">Nombre</td>
                            <td class="col-n-proy">#DTIYS Mechi Baz</td>
                        </tr>
                        <tr>
                            <td class="col-n-proy">Comitente</td>
                            <td class="col-n-proy">@OpalDev</td>
                        </tr>
                        <tr>
                            <td class="col-n-proy">Fecha de Entrega</td>
                            <td class="col-n-proy">01-01-23</td>
                        </tr>
                        <tr>
                            <td class="col-n-proy">Carga Horaria</td>
                            <td class="col-n-proy">20 hrs</td>
                        </tr>
                        <tr>
                            <td class="col-n-proy">Valor Hora</td>
                            <td class="col-n-proy">$100,00</td>
                        </tr>
                        <tr>
                            <td class="col-n-proy">Valor Estimativo</td>
                            <td class="col-n-proy">$2.000,00</td>
                        </tr>
                        <tr>
                            <td class="col-n-proy">Valor Proyecto</td>
                            <td class="col-n-proy">$2.500,00</td>
                        </tr>
                        <tr>
                            <td class="col-n-proy">Cargar Imagen</td>
                            <td class="col-n-proy">url IMG</td>
                        </tr>
                        <tr>
                            <td class="col-n-proy">Descripción</td>
                            <td class="col-n-proy">Ilustración para #DTIYS MechiBaz</td>
                        </tr>
                        <!-- <tr>
                            <td class="col-n-proy">Enviado</td>
                            <td class="col-n-proy">No</td>
                        </tr>
                        <tr>
                            <td class="col-n-proy">Aprobado</td>
                            <td class="col-n-proy">No</td>
                        </tr> -->
                    </table>

                    <!--ultima mod.-->
                    <div class="data-proy modificación">
                        <p>Fecha de Creación:</p>
                        <p>01/02/23</p>
                    </div>
                </div>

            </div>
            <!--Editar-->
            <div class="data-n-proy">
                <div class="option-crud crud-save">
                        <a class="back" href="./proyectos.html"><i class="fas fa-arrow-left"></i>Descartar</a>
                        <a class="save" href="./proyectos.html">Guardar<i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <div class="logo-footer ">
            <!-- <p class="logo-text">Gestor de Proyectos</p> -->
            <div>
                <img class="img-social" src="" alt="">
            </div>
        </div>
        <div class="footer-enlaces">
            <h3>Contactanos</h3>
            <a href="#">nombrepag@gmail.com</a>
            <a href="#">+549-000-000-0000</a>
            <a href="#">Calle 0000 - Ciudad</a>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="../assets/js/fontawesome.all.min.js"></script>

</body>

</html>