/*TODO: NUEVO PROYECTO*/
.box-n-proy {
    background-color: white;
    background-image: var(--imagen-n-proy);
    background-repeat: no-repeat;
    background-position: center;
    
    padding: var(--padding-content);

    flex: 1;
}

.box-title {
    font-size: var(--font-size-textos-tarjetas);
    color: var(--color-secondary);
    font-weight: bold;
    padding-bottom: var(--padding-content);

    align-items: left;
}

.data-n-proy{
    display: table;
    width: 100%;
    justify-content: space-between;    
}

.data-n-proy table tr {
    justify-content: space-around;
}
.col-n-proy{
    /* display: table-cell; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    
    padding-bottom: 4px;    

}

.col-n-proy:last-child {
    text-align: right;
    justify-content: flex-end;
}

input,
textarea {
    font-family: var(--font-size-textos-tarjetas);
    border: none;
    outline: none;
    text-align: right;
    cursor: pointer;
    color: var(--color-ter);
    /* background-color: var(--color-grey); */
    /* border-radius: 5px; */
    padding: 2px;
}
input::placeholder, textarea::placeholder{
    color: var(--color-ter);
}


input {
    border-bottom: 1px dashed var(--color-primary);
}

textarea {
    border-bottom: 1px dashed var(--color-primary);
    resize: vertical;
}

.modificación{
    background-color: var(--color-secondary);
    padding: var(--padding-xxs);
    margin-top: 20px;
    /* background-color: var(--color-transp); */
    opacity: 0.50;
}

.crud-save{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 5px;
}

.crud-save .back{
    color: brown;
}

.crud-save .save{
    color: var(--color-secondary);
    /* border-radius:10px; */
    border:none;  
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    cursor: pointer;
}

.fa-arrow-left,.fa-arrow-right{
    margin-left: 5px;
    margin-right: 5px;
}

